:root {
    --dark-blue: #040B24;
    --darker-blue: #020613;
    --dark-green: #122912;

    --light-gray: rgb(31, 36, 45);
    --lighter-gray: rgb(25, 29, 36);
    --lightest-gray: rgb(50, 57, 70);

    --gray-black: rgb(31, 31, 31);
    --dark-gray-black: rgb(24, 24, 24);
    --darker-gray-black: rgb(12, 12, 12);
    --darkest-gray-black: rgb(5, 5, 5);
    --light-gray-black: rgb(40, 40, 40);

    --blue: #111C44;
    --light-blue: #2525A5;
    --light-blue-hover: #2d2dc7;
    --blue-heaven: rgb(88, 178, 255);
    --blue-heaven-hover: rgb(137, 200, 255);
    --blue-sky: rgb(58, 163, 255);
    --blue-sky-hover: rgb(88, 177, 255);

    --red: #df3232;
    --orange: #E69141;
    --orange-hover: #ffac5e;
    --dark-orange: #e6914110;
    --white: #FFFFFF;
    --black: #030B23;
    --gray: #878787;
    --purple-variance: #9C8FEC;
}

#app,html,body {
    background-color: var(--dark-gray-black);
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

h2,h3 {
    color: var(--white);
    font-family: 'Oxanium', sans-serif;
    text-transform: uppercase;
    font-style: normal;
}

.home,
.head-container,
.head-portfolio-text,
.about,
.skills,
.project-section-container,
.navigation-buttons button,
.overlay-text,
.contact,
.contact-container,
a {
    color: var(--white);
    font-family: 'Oxanium', sans-serif;
}

.button {
    display: inline-block;
    font-size: 1.2em;
    font-family: 'Oxanium', sans-serif;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    background-color: var(--blue-sky);
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    transition: background-color 0.5s ease;
    box-shadow: 0 0 1rem var(--blue-heaven-hover);
}

.button:hover {
    background-color: var(--blue-sky-hover);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Oxanium', sans-serif;
}

body {
    display: block;
}

/* section {
    display: block;
    unicode-bidi: isolate;
} */

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}

@font-face {
    font-family: 'Oxanium';
    src: url('./Oxanium-Regular.ttf') format('woff2');
}